.about {
   display: flex;
   flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        background-color: #1E2232;
        color: aliceblue;
        min-height: 100vh;
        padding-bottom: 25px;
        }

.about h1{
    margin-top: 20px;
}
.about-resume{
    display: flex;
    flex-direction: column;
}


.about-resume img{
    height: auto;
    width: 35vw;
    max-height: 40vh;
    object-fit: scale-down;
}
@media (max-width: 750px) {
    .about {
        display: flex; /* Ensure flex is enabled for mobile layout */
        flex-direction: column; /* Stack elements vertically on mobile */
      }
      .about-resume{
        order: 1;
      }
      .about-details{
        max-width: 90vw;
        order: 2;
        }  
    .about-resume img{
        width: 60vw;
        height: auto;
    }

}
.about-resume button{
    margin:auto;
    font-size: 16px;
    font-weight: 500;
    height: 4vh;
    padding:  0 9px 0 9px;
    border-color: transparent;
    background-color: rgb(236, 221, 192);
}
.about-details{
    max-width: 60vw;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.about-details p{
    text-align: justify;
    padding: 10px;
}