@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*{
  margin: 0px;
  padding: 0px;
}
.App{
  background-color: black;
  color: rgb(236, 221, 192);

}

.App{
  height: 100vh;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* font-size: large; */
}

.App h1,h3{
  margin: 10px;
}
.App h1{
  letter-spacing: 1.5px;
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Russo One', sans-serif;
  font-size: 42px;
  font-weight: 200;

}
.App h3{
  letter-spacing: 1.5px;
  font-family: 'Source Code Pro', monospace;
  font-size: 22px;
  /* font-weight: 100; */
}
.header-home{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  height: 24px;
  background-color:black;
  color: rgb(236, 221, 192);
  font-weight: 700;
  font-size: 18px;
}

.projects{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1E2232;
  color: aliceblue;
  min-height: 100vh;
}
.contact{
  background-color: #1E2232;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #161a27;

  color: white;

}
